.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-header {
  height: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fcf3f0;
  font-family: monospace, lucida console;
  color: #008080;
  font-size: 14px;
}

a {
  color: #191970;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
  a:hover,
  a.selected {
    color: #000;
  }

h1,h2,h4,h5,h6 {
  text-align: center;
  color: #000;
  text-shadow: #000 1px 1px 2px;
  margin-bottom: 5px;
}
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
.sociales {
  text-align: center;
  margin-bottom: 20px;
}


  #timeline {
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 50px 0px 50px 0px;
    position: relative;
    background: url('images/dot.gif') left 50px repeat-x;
  }
    #dates {
      width: 800px;
      height: 150px;
      overflow: hidden;
    }
      #dates li {
        list-style: none;
        float: left;
        width: 150px;
        height: 65px;
        font-size: 25px;
        text-align: center;
        background: url('images/smallerdot.png') center bottom no-repeat;
      }
      #dates li .selected {
        list-style: none;
        float: left;
        width: 100px;
        height: 75px;
        font-size: 16px;
        text-align: center;
        background: url('images/biggerdot.png') center bottom no-repeat;
      }
        #dates a {
          line-height: 20px;
          padding-bottom: 10px;
        }
        #dates .selected {
              font-size: 35px;
        }
    
    #issues {
      width: 800px;
      height: 350px;
      overflow: hidden;
    } 
      #issues li {
        width: 800px;
        height: 350px;
        list-style: none;
        float: left;
      }
        #issues li.selected img {
          -webkit-transform: scale(1.1,1.1);
          transform: scale(1.1,1.1);
        }
        #issues li img {
          float: left;
          margin: 32px 30px 10px 50px;
          background: transparent;
          border-radius: 50%;
        
                
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
        }
        #issues li h1 {
          color: #000;
          font-size: 48px;
          margin: 20px 0;
          text-shadow: #000 1px 1px 2px;
        }
        #issues li p {
          font-size: 18px;
          margin-top: 20px;
          margin-right: 70px;
          padding-top: 20px;
          padding-right: 20px;
          font-weight: normal;
          line-height: 22px;
          text-shadow: #000 1px 1px 2px;
          background-color: #fff;
          height:110px;
          border-color:#000;
          border-style: solid;
          border-width: medium;
          border-radius: 50px 20px;
        }
    
    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
    
    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('images/next.png');
      }
      #prev {
        left: 0;
        background-image: url('images/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }